@model AdventurousContacts.Models.Contact

@{
    ViewBag.Title = "Ta bort kontakt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if(Model != null)
{
    <h2>Ta bort kontakt</h2>
    <p><b>Är du säker på att du vill ta bort följande kontakt?</b></p>
    <p><b>Förnamn:</b> @Model.FirstName</p>
    <p><b>Efternamn:</b> @Model.LastName</p>
    <p><b>Mailadress:</b> @Model.EmailAddress</p>
    
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <p>
            <input type="submit" value="Ja" />  
        </p>
    }
    @Html.Partial("Return") 
}
else
{
    @Html.Partial("NotFound")
}